.catExplore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  &__image {
    width: 200px;
    height: 150px;

    @media screen and (min-width: 600px) {
      width: 350px;
      height: 300px;
    }
  }

  &__btn {
    width: 200px;
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
    transition: .7s;

    &:hover {
      background-color: gray;
      color: white;
    }


    @media screen and (min-width: 600px) {
      width: 350px;
    }
  }


}
