.catData {
  width: 75vw;
  min-height: 80vh;
  background-color: #6da2b3;
  border-radius: 5px;
  margin-top: 20px;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  background-color: #6da2b3;

  border-radius: 5px;
  margin-top: 20px;
}

.catFinder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin: 5px 0 25px;


  &__label {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: lightgrey;
  }

  &__breeds {
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 5px;
    border-left: 1px solid grey;
  }

  &__result {
    width: 100%;

  }

  &__card {
    width: 100%;
  }
}
