<div class="container">

  <form class="catFinder" [formGroup]="searchForm">
    <!-- <input type="email" name="" id="" formControlName="name"> -->
    <!-- <label for="breed">Choose your favourite cat breed:</label> -->
    <select class="catFinder__breeds" formControlName="breed" (ngModelChange)="onChange()">
      <!-- <option value="All" [selected]="'All'">All</option> -->
      <option *ngFor="let breed of breedList" [value]="breed.id">{{breed.name}}</option>
    </select>
  </form>
  <div class="catFinder__result" *ngIf="catDataOutput">
    <app-cat-info-card class="catFinder__card" *ngFor="let catData of catDataOutput" [catData]="catData">
    </app-cat-info-card>
  </div>
</div>
