<div class="container">
  <form class="catFinder" [formGroup]="searchForm">
    <select class="catFinder__breeds" formControlName="breeds" (ngModelChange)="changeBreed()">
      <!-- <option value="All" selected value="'All'">All</option>  -->
      <option *ngFor="let breed of breedsList" [value]="breed.id">{{breed.name}}</option>
    </select>
  </form>
  <div class="catFinder__result" *ngIf="catDescription">
    <app-cat-info-card class="catFinder__card" *ngFor="let catData of catDescription" [catData]="catData">
    </app-cat-info-card>
  </div>
</div>
