<div class='appContainer'>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__element"><a *ngIf="authService.user" (click)="logout()" class="nav__link" routerLink="/login"
          routerLinkActive='nav__link--active'>Logout</a>
        <a *ngIf="!authService.user" class="nav__link" routerLink="/login"
          routerLinkActive='nav__link--active'>Login</a>
      </li>
      <li class="nav__element"><a data-role="disabled" class="nav__link" routerLink="/search"
          routerLinkActive='nav__link--active'>Explore</a></li>
      <li class="nav__element"><a class="nav__link" routerLink="/edit"
          routerLinkActive='nav__link--active'>Favorites</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
