<div class='appContainer'>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__element"><a class="nav__link" routerLink="/login" routerLinkActive='nav__link--active'>Login</a>
      </li>
      <li class="nav__element"><a class="nav__link" routerLink="/search" routerLinkActive='nav__link--active'>Find
          cats</a></li>
      <li class="nav__element"><a class="nav__link" routerLink="/edit" routerLinkActive='nav__link--active'>Edit
          data</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <!-- <app-login></app-login> -->
</div>
