.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 80vh;
  background-color: #6DA2B3;
  // border: 2px solid black;
  border-radius: 5px;
  margin-top: 20px;

  //   width: 100px;
  //   height: 100px;
  &__input {
    width: 300px;
    height: 25px;
  }
}
