.favoriteList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
    margin: 0 auto;

  }

  @media screen and (min-width: 1200px) {
    width: 900px;

  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 7px;
    border-bottom: 1px solid lightgrey;

    @media screen and (min-width: 600px) {
      width: 30%;
      border: none
    }

  }

  &__img {
    width: 75%;
    max-height: 150px;

    @media screen and (min-width: 600px) {
      width: 100%;
      height: 200px;
    }


    @media screen and (min-width: 1200px) {
      height: 500px;
    }


  }

  &__btn {
    width: 75%;
    border: none;
    border-radius: 20px;
    transition: .7s;


    @media screen and (min-width: 600px) {
      width: 100%;

      &:hover {
        background-color: gray;
        color: white;
      }
    }
  }
}
