<form action="action_page.php" method="post" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

  <div class="container">
    <label for="login"><b>Username</b></label>
    <input [(ngModel)]="user.login" type="text" placeholder="Enter Username" name="login" required>

    <label for="password"><b>Password</b></label>
    <input [(ngModel)]="user.password" type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" [disabled]="!contactForm.valid">Login</button>

  </div>
</form>
